[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "==4.17.2"
schedule = "==1.2.1"

[dev-packages]
black = "==24.2.0"

[requires]
python_version = "3.11"
